@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
* {
    box-sizing: border-box;
}
/* 
    --accent-color: #1d1c1c; 
    --border-bottom-color: #2c2c2c; 
    --bg-color: #26337e;

    
    --main dark
    --accent-color: #ba3a1d;
    --border-bottom-color: #893e2d; 
    --bg-color: #1d1d1d;
    --title-color: #ffffff;
    --bg-block-color: #ffffff;

    --light
    --accent-color: #212121;
    --border-bottom-color: #1b1b1b; 
    --bg-color: #ffffff;
    --title-color: #161616;
    --bg-block-color: #cacaca;

    --purple
    --accent-color: #212121;
    --border-bottom-color: #1b1b1b; 
    --bg-color: #563a98;
    --title-color: #ffffff;
    --bg-block-color: #ffffff;

    --orange
    --accent-color: #2f2f2f;
    --border-bottom-color: #1b1b1b; 
    --bg-color: #e6624a;
    --title-color: #e9e9e9;
    --bg-block-color: #e9e9e9;


    --new main
    --accent-color: #2f2f2f;
    --border-bottom-color: #1b1b1b; 
 */
:root {
    --accent-color: #1774ae;
    --border-bottom-color: #135985; 
    --bg-color: #1d1d1d;
    --title-color: #ffffff;
    --bg-block-color: #ffffff;
    --font-Family: 'Montserrat', 'sans-serif';
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-weight: 600;
    font-family: var(--font-Family);
    color: var(--white-color);
}

h1, p {
    margin: 0;
    padding: 0;
}



div {
    box-sizing: border-box;
}

.timer {
    max-width: 940px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 30px;
}

.timer__inner-title {
    font-size: 68px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center;
    color: var(--title-color)
}
.timer__inner-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer__inner-item {
    width: 200px;
    padding: 30px 0;
    background-color: var(--bg-block-color);
    border-radius: 10px;
    text-align: center;
    border-right: 5px solid var(--accent-color);
    border-bottom: 3px solid var(--border-bottom-color);
}
.timer__inner-date {
    font-size: 68px;
    font-weight: 600;
    color: var(--accent-color)
}
.timer__inner-dateName {
    font-style: 48px;
    font-weight: 400;
    color: #525252;
}   


@media(max-width: 992px) {
    .timer {
        max-width: 800px;
    }
    
    .timer__inner-title {
       font-size: 50px;
    }

    .timer__inner-item {
        width: 160px;
        padding: 25px 0;
    }
    
    .timer__inner-date {
        font-size: 48px;
    }
    .timer__inner-dateName {
        font-style: 24px;
    }  
}


@media(max-width: 776px) {
    .timer {
        max-width: 650px;
    }
    
    .timer__inner-title {
       font-size: 36px;
    }

    .timer__inner-item {
        width: 120px;
        padding: 20px 0;
    }
    
    .timer__inner-date {
        font-size: 34px;
    }
    .timer__inner-dateName {
        font-style: 16px;
    }  
}

@media(max-width: 576px) {
    .timer {
        max-width: 500px;
    }
    
    .timer__inner-title {
       font-size: 26px;
    }

    .timer__inner-item {
        width: 100px;
        padding: 12px 0;
    }
    
    .timer__inner-date {
        font-size: 24px;
    }
    .timer__inner-dateName {
        font-style: 14px;
    }  
}


@media(max-width: 475px) {
    .timer {
        max-width: 400px;
    }
    
    .timer__inner-title {
       font-size: 24px;
       margin-bottom: 0;
    }

    .timer__inner-items {
        display: flex;
        flex-direction: column;
        width: 120px;
        margin: 0 auto;
    }

    .timer__inner-item {
        padding: 20px 0;
        margin-top: 30px;
        width: 100%;
    }
}